body {
	font-family: verdana;
}

li {
	font-size: 11pt;
}

ul {
	/* list-style-type: disc; */
	/* list-style-type: circle; */
	list-style-type: square;
	list-style-position: outside;
}

ol {
	/* list-style-type: decimal; */
	/* list-style-type: decimal-leading-zero; */
	/* list-style-type: upper-roman;*/
	/* list-style-type: lower-roman; */
	/* list-style-type: upper-alpha; */
	/* list-style-type: lower-alpha; */
	list-style-type: lower-greek;
	list-style-position: inside;
}