body {
	font-family: verdana;
}

p {
	font-size: 11pt;
	text-align: justify;
}

blockquote, address {
	font-size: 10pt;
}

h3 {
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: overline underline line-through;
}

address {
	font-style: normal;
	text-align: center;
}

ul {
	font-size: 11pt;
	font-weight: bold;
	text-transform: lowercase;
}

h2 {
	font-variant: small-caps;
	word-spacing: 10px;
	letter-spacing: 5px;
	text-decoration: underline;
	text-align: center;
}

blockquote {
	text-align: right;
}